@font-face{
  font-family: Forum;
  src:url("../assets/fonts/Forum-Regular.ttf");
}
@font-face{
  font-family: Roboto;
  src:url("../assets/fonts/Roboto-Thin.ttf");
  font-weight: 100;
}
@font-face{
  font-family: Roboto;
  src:url("../assets/fonts/Roboto-Regular.ttf");
  font-weight: 300;
}

html{
  scroll-behavior: smooth;
}


body{
  box-sizing: border-box;
  margin: 0;
  
}

header{
  box-sizing: border-box;
  max-width: 1920px;
  margin: 0 auto;
  background-color: #030303;
}

h2{
  font-family: Forum;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 90px;
  letter-spacing: 5px;
  text-align: left;
  text-transform: uppercase;
}

.container{
  box-sizing: border-box;
  max-width: 1440px;
  margin: 0 auto;
}

.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 200px;
  background-color: #030303;
}

.logo{
  width: 195px;
  height: 50px;
  color: #ffffff;
}

.logo-icon{
  display: inline-block;
  width: 49px;
  height: 26px;
  background-image: url("../assets/svg/logo.svg");
}

.logo-text{
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 17px;
  font-family: "Forum";
  font-size: 28px;
  line-height: 50px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.header-nav{
  display: block;  
}

.header-meny{
  display: flex;
  justify-content: space-between;
  width: 720px;
}

.meny-item{
  list-style: none;
}

.meny-item > a{
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 200;
  line-height: 50px;
  letter-spacing: 2px;
  text-align: left;
  color: #ffffff;
  text-decoration: none;
}

.container-welcome{
  max-width: 1920px;
  margin: 0 auto;
  background-color: #030303;
  background-image: url("../assets/img/background.jpg");
  background-repeat: no-repeat;
  background-position: 705px 0px;  
}


.welcome{
  max-width: 1440px;
  height: 750px;
  margin: 0 auto;
  color: #ffffff;
}

.welcome > h2{
  margin: 0;
  padding-top: 115px;
}

.welcome > p{
  margin-top: 27px;
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 300;
  line-height: 33px;
  letter-spacing: 2px;
  text-align: left;
}

.welcome-button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 75px;
  margin-top: 75px;
  background-color: #710707;
  border-radius: 10px;

}

.welcome-button > a{
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 200;
  line-height: 26px;
  letter-spacing: 2px;
  color: #FFFFFF;
  text-decoration: none;
}

.visiting-title{
  margin-top: 75px;
  position: relative;
  color: #9D8665;
}

.visiting-title::after{
  content: "";
  position: absolute;
  bottom: -29px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #710707;
}

.container-cards{
display: flex;
flex-wrap: wrap;
row-gap: 58px;
column-gap: 60px;
padding-top: 38px;
}

.card-item{
  color:#000000;
  text-decoration: none;
}

.card-item h3{
  position: relative;
  margin-top: 21px;
  margin-bottom: 21px;
  font-family: Forum;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 5px;
  text-align: left;
  text-transform: uppercase;
}

.card-item h3::after{
  content: "";
  position: absolute;
  bottom: -11px;
  left: 0;
  width: 300px;
  height: 2px;
  background-color: #710707;
}

.card-virtual-text{
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 200;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}

.card-google-text{
  margin-top: -13px;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 200;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

.container-explorer-black{
  box-sizing: border-box;
  max-width: 1920px;
  min-height: 865px;
  margin: 0 auto;
  background-color: #000000;
}

.explore-container{
  display: flex;  
  justify-content: space-around;
  column-gap: 50px;
  box-sizing: border-box;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 55px;
  padding-top: 75px;
  
}

.explore{
  box-sizing: border-box;
  color: #ffffff;
}

.explore h2{
  position: relative;
  margin-top: 0;
  margin-bottom: 103px;
  font-family: Forum;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 90px;
  letter-spacing: 5px;
  text-align: left;
}

.explore h2::after{
  content: "";
  position: absolute;
  bottom: -28px;
  left: 0;
  width: 660px;
  height: 3px;
  background-color: #710707;
}

.explore p{
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: left;

}

.explore span{
  color: #9D8665;
}

.explore-image{
  padding-top:15px
}
