@font-face{
  font-family: Forum;
  src:url("../assets/fonts/Forum-Regular.ttf");
}
@font-face{
  font-family: Roboto;
  src:url("../assets/fonts/Roboto-Thin.ttf");
  font-weight: 100;
}
@font-face{
  font-family: Roboto;
  src:url("../assets/fonts/Roboto-Regular.ttf");
  font-weight: 300;
}

html{
  scroll-behavior: smooth;
}


body{
  box-sizing: border-box;
  margin: 0;
  
}

header{
  box-sizing: border-box;
  max-width: 1920px;
  margin: 0 auto;
  background-color: #030303;
}

h2{
  font-family: Forum;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 90px;
  letter-spacing: 5px;
  text-align: left;
  text-transform: uppercase;
}

.container{
  box-sizing: border-box;
  max-width: 1440px;
  margin: 0 auto;
}

.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 200px;
  background-color: #030303;
}

.logo{
  width: 195px;
  height: 50px;
  color: #ffffff;
}

.logo-icon{
  display: inline-block;
  width: 49px;
  height: 26px;
  background-image: url("../assets/svg/logo.svg");
}

.logo-text{
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 17px;
  font-family: "Forum";
  font-size: 28px;
  line-height: 50px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.header-nav{
  display: block;  
}

.header-meny{
  display: flex;
  justify-content: space-between;
  width: 720px;
}

.meny-item{
  list-style: none;
}

.meny-item > a{
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 200;
  line-height: 50px;
  letter-spacing: 2px;
  text-align: left;
  color: #ffffff;
  text-decoration: none;
}

.container-welcome{
  max-width: 1920px;
  margin: 0 auto;
  background-color: #030303;
  background-image: url("../assets/img/background.jpg");
  background-repeat: no-repeat;
  background-position: 705px 0px;  
}


.welcome{
  max-width: 1440px;
  height: 750px;
  margin: 0 auto;
  color: #ffffff;
}

.welcome > h2{
  margin: 0;
  padding-top: 115px;
}

.welcome > p{
  margin-top: 27px;
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 300;
  line-height: 33px;
  letter-spacing: 2px;
  text-align: left;
}

.welcome-button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 75px;
  margin-top: 75px;
  background-color: #710707;
  border-radius: 10px;

}

.welcome-button > a{
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 200;
  line-height: 26px;
  letter-spacing: 2px;
  color: #FFFFFF;
  text-decoration: none;
}

.visiting-title{
  margin-top: 75px;
  position: relative;
  color: #9D8665;
}

.visiting-title::after{
  content: "";
  position: absolute;
  bottom: -29px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #710707;
}

.container-cards{
display: flex;
flex-wrap: wrap;
row-gap: 58px;
column-gap: 60px;
padding-top: 38px;
}

.card-item{
  color:#000000;
  text-decoration: none;
}

.card-item h3{
  position: relative;
  margin-top: 21px;
  margin-bottom: 21px;
  font-family: Forum;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 5px;
  text-align: left;
  text-transform: uppercase;
}

.card-item h3::after{
  content: "";
  position: absolute;
  bottom: -11px;
  left: 0;
  width: 300px;
  height: 2px;
  background-color: #710707;
}

.card-virtual-text{
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 200;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}

.card-google-text{
  margin-top: -13px;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 200;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

.container-black{
  box-sizing: border-box;
  max-width: 1920px;
  min-height: 865px;
  margin: 0 auto;
  background-color: #000000;
}

.explore-container{
  display: flex;  
  justify-content: space-around;
  column-gap: 50px;
  box-sizing: border-box;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 55px;
  padding-top: 75px;
  
}

.explore{
  box-sizing: border-box;
  color: #ffffff;
}

.explore h2{
  position: relative;
  margin-top: 0;
  margin-bottom: 103px;
  font-family: Forum;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 90px;
  letter-spacing: 5px;
  text-align: left;
}

.explore h2::after{
  content: "";
  position: absolute;
  bottom: -28px;
  left: 0;
  width: 660px;
  height: 3px;
  background-color: #710707;
}

.explore p{
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: left;

}

.explore span{
  color: #9D8665;
}

.explore-image{
  padding-top:15px
}

.container-player{
  width: 1440px;
  height: 714px;
  margin-top: 90px;
  background-color: #000000;
  background-image: url("../assets/img/video-rectangle.jpg");
  background-repeat: no-repeat;

}


.main-play-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 1440px;
  height: 629px;
}

.main-play,
.player-manage-tools button{
  background-color: transparent;
  border: none;
  padding: 0;
}

.main-play span{
  display: flex;
  align-items: center;
  width: 220px;
  height: 220px;
  background-image: url("../assets/svg/circle.png");
}

.main-play span img{
  margin-left: 77px;
}

.player-manage-tools{
  display: flex;
  align-items: center;
  
  width: 1440px;
  height: 85px;
  
  
}

.progress{
  background: linear-gradient(to right, #24809E 0%, #24809E 50%, #C4C4C4 50%, #C4C4C4 100%) ;
  border-radius: none;
  width: 820px;
  height: 8px;
  margin-left: 40px ;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}

.progress::-webkit-slider-thumb{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: ew-resize;
  background: #ffffff;
}

.button-sound{
  display: flex;
  align-items: center;
  margin-left: 40px;
}

.volume{
  background: linear-gradient(to right, #24809E 0%, #24809E 50%, #C4C4C4 50%, #C4C4C4 100%) ;
  border-radius: none;
  width: 155px;
  height: 8px;
  margin-left: 20px ;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}

.volume::-webkit-slider-thumb{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: ew-resize;
  background: #ffffff;
}

.button-back{
  margin-left: 40px;
}
.button-run{
  margin-left: 40px;
}

.button-next{
  margin-left: 40px;
}

.button-fullscreen{
  margin-left: 50px;
}

.video h2{
  color: #9D8665;
  margin-top: 40px;
}

.video p{
  margin-top: -150px;
  margin-right: 25px;
  float:right;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: left;
}

.container-tickets{
  width: 1920px;
  height: 893px;
  margin-top: 75px;
}

.tickets{
  padding-top: 10px;
}

.tickets h2{
  position: relative;
  color: #ffffff;
}


.tickets h2::after{
  content: "";
  position: absolute;
  bottom: -28px;
  left: 0;
  width: 1440px;
  height: 3px;
  background-color: #710707;
}

.container-flex{
  display: flex;
  column-gap: 60px;
  padding-top: 35px;
}


.ticket-type p{
  margin-top: 0;
  
  color: #ffffff;
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;


}

.form{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
/*---------Cтилизация radio------------*/

.container-radio{
  display: block;
  position: relative;
  padding-left: 40px;
  margin-top: 50px;
  
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color:#ffffff;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  cursor: pointer;

}

.container-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  
}

.checkmark {
  position: absolute;
  top: 4px;
  left: 0;
  height: 14px;
  width: 14px;
  border: 2px solid #ffffff;
  border-radius: 50%;
}

.container-radio:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}


.container-radio input:checked ~ .checkmark:after {
  display: block;
}

.container-radio .checkmark:after {
 	top: 3.33px;
	left: 3.33px;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: white;
}

/*---------Cтилизация radio------------*/

/*---------Cтилизация ticket-amount------------*/
.ticket-amount{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  color: #ffffff;
}
.statement{
  box-sizing: border-box;
  background-color: #000000;  
  color: #ffffff;
  border: none;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: center;

}

.number {
  box-sizing: border-box;
  all: unset;
  width: 2em;
  text-align: right;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0em;
  
}
.container-button{
  display: flex;
  justify-content: space-around;
  width: 144px;
  height: 44px;
  border: 3px solid #ffffff;
  

}

.buy-now{
  margin-top: 22px;
  width: 175px;
  height: 50px;
  background: #ffffff;
  color: #000;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 2px;
  text-align: center;

}
.ticket-amount-category{
  
  margin-bottom: 13px;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;

}

.total{
  margin-top: 50px;
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 1.649999976158142px;
  text-align: left;

}
.amount{
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
  
}
.amount{
  margin-top: 0;
  margin-bottom: -10px;
}

.ticket-button-cont{
  margin-top: 15px;
}

/*---------Cтилизация ticket-amount------------*/