@media (max-width:1200px) {
    .section-skills__item{
        min-width: 35%;
        height: 225px;
    }

}
@media (max-width:900px) {
    .section-portfolio__container-buttons{
        margin-left: auto;
        margin-right: auto;
        width: 450px;
    }

}

@media (max-width:768px) {

/* ------------------Header is below----------------- */
    .header{
        background-position: -5px -30px; 
        background-size: auto 620px;
    }


    .burger-button{
        display: flex;
        transform: rotate(360deg);
        z-index: 13;
    }

    .menu__list{
        position: absolute;
        z-index: 12;
        top:0;
        right: -620px;
        width: 620px;
        height: 1024px;
        padding-left: 127px;
        padding-top: 134px;
        margin: 0;
        flex-direction: column;
        gap: 16px; 
        font-size: 35px;
        line-height: 73px;
        letter-spacing: 0em;
        background-color: var(--dark-color);
        transition: all 0.5s;
    }

    .container-header{
        padding-left: 60px;
        padding-right: 64px;
    }


    .toggle-language{
        gap: 10px;
    }

    .toggle-language__button{
        padding-left: 10px;
    }



/* ------------------Header is above----------------- */

/* ------------------section__hero is below----------------- */


    .section__hero-container{
        height: 590px;
        padding-top: 78px;
        padding-left: 60px;
        background-position: -5px -120px;
        background-size: auto 620px;
    }

    h1{ font-size: 32px;
        line-height: 64px;
      }

    .section__hero-paragraph{
        margin-top: 20px;
        margin-bottom: 60px;
        font-size: 20px;
        line-height: 24px;
        text-align: left;
        width: 390px;
        height: 72px;

    }
/* ------------------section__hero is above----------------- */

/* ------------------section__skills is below----------------- */

    .section-skills{
        padding-top: 10px;
    }

/* ----------------Title in sections is below---------------- */
    .section__title{
        width: 364px;
        margin-top: 0;
        margin-left : auto;
        margin-right: auto;
        font-size: 32px;
        line-height: 40px;
    }
/* ----------------Title in sections is above---------------- */    
 

    .section-skills__list{
        padding-left: 0;
        padding-top: 39px;
        justify-content: space-evenly;
        column-gap: 0px;
    }

    .section-skills__item{
        width: 280px;
    }

    .section-skills__item-header{
        margin-top: 30px;
        margin-bottom: 20px;
        font-size: 20px;
        line-height: 40px;
    }

    .section-skills__item-paragraph{
        font-size: 18px;
        line-height: 22px;
        width: 100%
    }

    .section-skills__item:nth-child(2n){
        padding-right: 5px;
    }


/* ------------------section__skills is above----------------- */

/* ------------------section__portfolio is below----------------- */

    .section-portfolio{
        padding-top: 139px;
     }

     .section-portfolio__container-buttons{
        margin-top: 70px;
    }


/* ------------------section__portfolio is above----------------- */

/* ------------------section__video is below----------------- */

    .section-video{
        padding-top: 100px;
        padding-left: 0;
        padding-right: 0;
    }

    .section-video__container-video{
        overflow: hidden;
        margin-top: 70px;
    }
    .section-video__main-play{

        width: 64.62px;
        height: 64.62px;
        background-size: 100% 100%;
    }
/* ------------------section__video is above----------------- */

/* ------------------section__price is below----------------- */

.section-price{
    padding-top: 102px ;
    padding-bottom: 79px;
}

.section-price__container-prices{
    margin-top:  70px; 
    gap: 50px;
}

.price-section__price-item{
    width: 420px;
}

/* ------------------section__price is above----------------- */

/* ------------------section__contacts is below----------------- */

.section-contacts{
    padding-top: 32px;
    padding-right: 4px ;
    height: 600px;
    background-size: auto 600px;
    background-position: 50% center;
}

.section-contacts__title{
    margin-right: auto;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    line-height: 64px;
}

.section-contacts__form{
    margin-right: auto;
}

.section-contacts__form-button{
    display: block;
    margin-right: auto;
    margin-left: auto;
} 
/* ------------------section__contacts is above----------------- */

/* ------------------section__footer is above----------------- */

.footer-container{
    height: 190px;
    padding-right: 24px;
    margin: 0;
    flex-direction: column; 
    justify-content: start;
    align-items: center;
    padding-top: 18px;
    padding-bottom: 0;
   }
.footer-container__github{
	padding-left: 0;
	gap: 22px;
    line-height: 40px;
}

.footer-container__rsschool-link{
    line-height: 40px;
	padding-left: 0px;
	text-align: right;
    margin-bottom: 21px;
}
/* ------------------section__footer is above----------------- */
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

@media (max-width:700px) {
/* ------------------Header is below----------------- */    
    .header{
        background-position: -30px -60px; 
        background-size: auto 530px;
    }

    .menu__list{
        right: -80.73vw;
        width: 80.73vw;
        height: 1024px;
        padding-left: 127px;
        padding-top: 134px;
    }
/* ------------------Header is above----------------- */

/* ------------------section__hero is below----------------- */


    .section__hero-container{
        height: 500px;
        background-position: -30px -150px;
        background-size: auto 530px;
    }

    h1{ 
        font-size: 28px;
        line-height: 56px;
    }

    .section__hero-paragraph{
        font-size: 16px;
        line-height: 20px;
        width: 250px;
        
    }
/* ------------------section__hero is above----------------- */
}

@media (max-width:575px) {
    /* ------------------Header is below----------------- */    
        .header{
            background-position: center -40px; 
            background-size: auto 430px;
        }

    /* ------------------Header is above----------------- */
    
    /* ------------------section__hero is below----------------- */
    
        .section__hero{
            height: 600px;
        }

        .section__hero-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 400px;
            padding-top: 320px;
            padding-left: 0;
            background-position: center -130px;
            background-size: auto 430px;
        }
    
        h1{ 
            font-size: 28px;
            line-height: 56px;
        }
    
        .section__hero-paragraph{
            font-size: 18px;
            line-height: 36px;
            text-align: center;
            width: 300px;
            margin-top: 10px;
            margin-bottom: 40px;
            margin-left: auto;margin-right: auto;
            
        }
    /* ------------------section__hero is above----------------- */
}


@media (max-width:515px) {
/* ------------------section__portfolio is below----------------- */
    .section-portfolio__img{
        width: 100%;
    }

    .section-portfolio__container-img{
        width: 100%;
    }

    .section-portfolio__container-buttons{
        width: 100%;
        gap: 20px
    }
/* ------------------section__portfolio is above----------------- */

/* ------------------section__contacts is below----------------- */
    .section-contacts__title{
        width: 90%;
    }
    .section-contacts__form{
        width: 90%;
    }
/* ------------------section__contacts is above----------------- */
}

@media (max-width:451px) {
    .menu__list{
        padding-left: 27px;
        padding-top: 34px;
    }

    .section__title{
        width: 90%;
    }
    .section__after-text,
    .section__before-text{
        width: 100%;
    }

    /* ------------------section__portfolio is below----------------- */
    .section-portfolio{
        padding-top: 70px;
    }
    
    .section-portfolio__container-buttons{
        width: 100%;
        gap: 20px
    }

/* ------------------section__portfolio is above----------------- */
 
 
 /* ------------------section__price is below----------------- */
     .price-section__price-item{
        width: 90%;
    }
 /* ------------------section__price is above----------------- */
 
 /* ------------------section__contacts is below----------------- */
     .section-contacts{
        padding-bottom: 70px;
        padding-right: 0;
        height: auto;
    }
/* ------------------section__contacts is above----------------- */
}

@media (max-width:355px) {
    .container-header{
        padding-left: 10px;
        padding-right: 10px;
    }
}
